<html>
<head>
<link rel="stylesheet" href="/style.css">
<link href="/swal.css" rel="stylesheet">
<script src="/swal.min.js"></script>
<script>
const modal = async () => {
  let { value: formValues } = await Swal.fire({
    title: "Create a wallet",
    html: "<div>Please enter a password to encrypt your wallet with.</div><br><input type='password' placeholder='select password' id='password'><br><input type='password' placeholder='confirm password' id='confirm'><br>or <a id='import'>import seed</a>",
    preConfirm: () => {
      return [
        document.querySelector("#password").value,
        document.querySelector("#confirm").value,
      ]
    },
    focusConfirm: true,
    didOpen: () => {
      document.querySelector("#password").focus()
      document.querySelector("#import").addEventListener("click", (e) => {
        importKey()
      })
    }
  })
  if (formValues && formValues[0] === formValues[1]) {
    fetch("/register", {
      method: 'post',
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ password: formValues[0] })
    }).then((res) => {
      return res.json()
    }).then((data) => {
      console.log("data = ", data)
      if (data.success) {
        location.href = location.href
      }
    });
  } else {
    alert("Passwords must match.")
    modal()
  }
}
const importKey = async () => {
  let { value: formValues } = await Swal.fire({
    title: "Import Wallet Seed",
    html: "<div>Please enter the wallet seed hex and a password to encrypt it.</div><br><textarea id='seed'></textarea><br><input type='password' placeholder='select password' id='password'>",
    preConfirm: () => {
      return [
        document.querySelector("#seed").value,
        document.querySelector("#password").value,
      ]
    },
    focusConfirm: true,
    didOpen: () => {
      document.querySelector("#seed").focus()
    }
  })
  if (formValues && formValues[0] && formValues[1] && formValues[0].length > 0 && formValues[1].length > 0) {
    fetch("/import", {
      method: 'post',
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ hex: formValues[0], password: formValues[1] })
    }).then((res) => {
      return res.json()
    }).then((data) => {
      if (data.error) {
        alert("Invalid seed")
        importKey()
      } else {
        location.href = location.href
      }
    });
  } else {
    alert("Enter wallet seed and encryption password")
    importKey()
  }
}
const exportKey = async () => {
  let { value: formValues } = await Swal.fire({
    title: "Export Wallet Seed",
    html: "<div>Please enter the decryption password.</div><br><input type='password' placeholder='select password' id='password'>",
    preConfirm: () => {
      return [
        document.querySelector("#password").value,
      ]
    },
    focusConfirm: true,
    didOpen: () => {
      document.querySelector("#password").focus()
    }
  })
  if (formValues && formValues[0]) {
    fetch("/export", {
      method: 'post',
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ password: formValues[0] })
    }).then((res) => {
      return res.json()
    }).then((data) => {
      if (data.error) {
        alert("Invalid password")
        exportKey()
      } else {
        console.log(data)
        if (data.seed) {
          Swal.fire({
            title: "Seed Hex",
            html: "<textarea style='height: 200px;'>" + data.seed + "</textarea>",
          })
        }
      }
    });
  } else {
    alert("Enter password")
    exportKey()
  }
}
document.addEventListener("DOMContentLoaded", (e) => {
  document.querySelector("#export").addEventListener("click", (e) => {
    exportKey()
  })
  document.querySelector("#logout").addEventListener("click", (e) => {
    fetch("/logout", {
      method: "post"
    }).then((res) => {
      return res.json()
    }).then((res) => {
      if (res.success) {
        location.href = location.href
      }
    })
  })
  <% if (!locals.seed) { %>
  modal()
  <% } %>
})
</script>
</head>
<body>
<nav>
  <img class='icon' src='icon.png'>
  <h1>starfish</h1>
  <div class='flexible'></div>
  <div class='menu-item' id='export'>export</div>
  <div class='menu-item' id='logout'>logout</div>
</nav>
<div class='container'>
  <% if (locals.keys) { %>
    <%keys.forEach((key) => { %>
      <div class='item' data-path="<%=key.path%>" data-address="<%=key.address%>">
        <h2><%=key.host%></h2>
        <div class='address'><%=key.address%></div>
      </div>
    <% }) %>
  <% } %>
</div>
</body>
</html>
