<html>
<head>
<link rel="stylesheet" href="/style.css">
<link href="/swal.css" rel="stylesheet">
<script src="/swal.min.js"></script>
<script>
const modal = async () => {
  let { value: formValues } = await Swal.fire({
    title: "Login",
    html: "<input type='password' placeholder='enter password' id='password'>",
    preConfirm: () => {
      return [
        document.querySelector("#password").value,
      ]
    },
    focusConfirm: true,
    didOpen: () => {
      document.querySelector("#password").focus()
    }
  })
  if (formValues && formValues[0]) {
    fetch("/login", {
      method: 'post',
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({
        password: formValues[0]
      })
    }).then((res) => {
      return res.json()
    }).then((data) => {
      if (data.error) {
        alert("incorrect password")
        modal()
      } else if (data.success) {
        location.href = location.href
      }
    });
  } else {
    modal()
  }
}
document.addEventListener("DOMContentLoaded", (e) => {
  modal()
})
</script>
</head>
  <body>
  <nav>
    <img class='icon' src='icon.png'>
    <h1>starfish</h1>
  </nav>
  </body>
</html>
