<html>
  <head>
    <link href="/daisy.4.4.2.full.min.css" rel="stylesheet" type="text/css" />
    <script src="/tailwind_3.3.5.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <link href="/swal.css" rel="stylesheet" />
    <script src="/swal.min.js"></script>
    <script>
      const modal = async () => {
        let { value: formValues } = await Swal.fire({
          title: "Login",
          html: "<input class='input input-bordered' type='password' placeholder='enter password' id='password'>",
          preConfirm: () => {
            return [document.querySelector("#password").value];
          },
          focusConfirm: false,
          didOpen: () => {
            const passwordInput = document.querySelector("#password");
            passwordInput.focus();

            // Add an event listener for the Enter key
            passwordInput.addEventListener("keydown", (e) => {
              if (e.key === "Enter") {
                // Trigger the confirm button click
                Swal.clickConfirm();
              }
            });
          },
        });
        if (formValues && formValues[0]) {
          fetch("/login", {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              password: formValues[0],
            }),
          })
            .then((res) => {
              return res.json();
            })
            .then((data) => {
              if (data.error) {
                alert("incorrect password");
                modal();
              } else if (data.success) {
                if (window.opener) {
                  // If this window has an opener, it's a popup
                  window.close(); // Close the window
                } else {
                  location.href = location.href;
                }
              }
            });
        } else {
          modal();
        }
      };
      document.addEventListener("DOMContentLoaded", (e) => {
        modal();
      });
    </script>
  </head>
  <body>
    <nav>
      <img class="mr-2 w-7" src="http://localhost:21000/auth/icon" />
      <h1>tokenpass</h1>
    </nav>
  </body>
</html>
